Data/
.Rproj.user
birngInAirPoll.r
errorsPlot.r
*.Rproj
.DS_Store
Plotting/plots
Boston_Example
.ipynb_checkpoints
Cali_Example/*
!Cali_Example/*.py
create_cali_subset.ipynb
.RHistory
Images/
Processing/grid_mapping/map_grids.sh
